body {
    font-family: Arial, Helvetica, sans-serif;
    color: #b3b3b3;
    background-image: -webkit-gradient(linear,left top, right top,color-stop(10%, #030915),color-stop(50%, #001938),to(#030915));
    background-image: -webkit-linear-gradient(left,#030915 10%,#001938 50%,#030915 100%);
    background-image: -o-linear-gradient(left,#030915 10%,#001938 50%,#030915 100%);
    background-image: linear-gradient(to right,#030915 10%,#001938 50%,#030915 100%);
    text-transform: uppercase;
}

.wrapper {
    margin: auto;
    width: 80vw;
    height: 90vh;
}

.title {
    text-align: center;
}

/* TELEMETRY TABLE */
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 1em;
}

table th,
table td {
    text-align: center;
    padding: 12px;
}

table th {
    background: #405164;
    font-size: .85em;
    letter-spacing: .1em;
}

table tr {
    background: rgb(2, 34, 63, 0.4);
    padding: .35em;
}

.telemetry__body {
    height: 28vh;
    overflow: auto;
}

.satelliteId,
.telemetry__header--satellite {
    width: 15%;
}
.component,
.telemetry__header--component {
    width: 15%;
}
.timestamp,
.telemetry__header--timestamp {
    width: 50%;
}
.severity,
.telemetry__header--severity {
    width: 20%
}

tr:nth-child(even) {
    background: rgb(8, 54, 89, 0.5);
}

/* VIOLATION CONDITION ALERT */
.alert {
    color: #eb216b;
    font-size: 13px;
    padding: 7px 12px;
    border-radius: 20px;
    background: #462231;
    border: 1px solid #c21b58;
}

/* JSON RENDER AND TELEMENTRY INPUT AREA*/
.lower__body--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* JSON RENDER AREA */
textarea {
    font-size: 14px;
    color: #999;
    background: #062a46;
    background: rgb(8, 54, 89, 0.5);
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 30vw;
    height: 30vh;
}

/* TELEMENTRY FILE INPUT AREA */
.telemetry__input--area {
    margin-right: 20%;
}

.button-container {
    display: flex;
    justify-content: center;
}
.button-container > div {
    padding: 10px;
}

button {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-transform: uppercase;
    font-size: 18px;
    color: #030915;
    border: 1px solid #083659;
    background: #083659;
    margin-top: 20px;
    width: 14vw;
    height: 5vh;
    outline: none;
    display: block;
}
button:hover {
    color: #999;
    background: transparent;
    border: 1px solid #083659;
}

/* FILE INPUT BOX */
#userInput {
    width: 30vw;
    height: 5vh;
    font-size: 18px;
    color: #40bbb5;
    border: 1px solid #083659;
    background: transparent;
    padding: 5px 0px 0px 10px;
    outline: none;
}

/* SCROLLBAR STYLING */
*::-webkit-scrollbar {
    width: 1.4rem;
    height: 1.2rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #083659;
    border-radius: .5rem;
    border: .16rem solid #083659;
}

*::-webkit-scrollbar-track {
    background-color: #030915;
}

::-webkit-scrollbar-corner {
    background-color: #030915;
}

/* SMALLER DEVICE MEDIA QUERY */
@media screen and (max-width: 1370px) {
    .button-container {
        display: block;
    }
    button {
        display: block;
        width: 100%;
    }
}